/packages/* @ZekiChat/Architecture
/packages/apps-engine/ @ZekiChat/apps
/packages/core-typings/ @ZekiChat/Architecture
/packages/rest-typings/ @ZekiChat/Architecture @ZekiChat/backend
/packages/ui-contexts/ @ZekiChat/frontend
/packages/eslint-config/ @ZekiChat/Architecture
/packages/livechat/ @ZekiChat/frontend @ZekiChat/Architecture
/.vscode/ @ZekiChat/Architecture
/.github/ @ZekiChat/Architecture
/_templates/ @ZekiChat/Architecture
/apps/meteor/client/ @ZekiChat/frontend
/apps/meteor/tests/e2e @ZekiChat/frontend
/apps/meteor/tests/end-to-end @ZekiChat/backend
/apps/meteor/tests/unit/app @ZekiChat/backend
/apps/meteor/tests/unit/app/ui-utils @ZekiChat/frontend
/apps/meteor/tests/unit/client @ZekiChat/frontend
/apps/meteor/tests/unit/server @ZekiChat/backend
/apps/meteor/app/apps/ @ZekiChat/apps
/apps/meteor/app/livechat @ZekiChat/omnichannel
/apps/meteor/app/sms @ZekiChat/omnichannel
/apps/meteor/app/api @ZekiChat/backend
/apps/meteor/app/federation @ZekiChat/backend
/apps/meteor/app/file-upload @ZekiChat/backend
/apps/meteor/app/integrations @ZekiChat/backend
/apps/meteor/server @ZekiChat/backend
/packages/models @ZekiChat/Architecture
apps/meteor/server/startup/migrations @ZekiChat/Architecture
/apps/meteor/packages/zekichat-livechat @ZekiChat/omnichannel
/apps/meteor/server/features/EmailInbox @ZekiChat/omnichannel
/apps/meteor/ee/app/canned-responses @ZekiChat/omnichannel
/apps/meteor/ee/app/livechat @ZekiChat/omnichannel
/apps/meteor/ee/app/livechat-enterprise @ZekiChat/omnichannel
/apps/meteor/client/omnichannel @ZekiChat/omnichannel
/apps/meteor/client/components/omnichannel @ZekiChat/omnichannel
